<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>EqTCQ0DiOk9HVvb8tmHvmFXUeN5YkS/cVKGAxYspkLunE6jvX73FY3mfkbZBNHBlbGZE1Rv8nTNAxJP6SdanDfXe4KxJ1vZ3IrXJBWQPBKGGIM+/olKJeNaSnbXwNF5mJ7sL8zYEK5aNmiQ6n3CN88DBRzYdoMcOQJpWdGhdDcgcTpLLy4aRpmNFVDBeEOKQg+sVkgQdlCrBvefiaQb4CEGeu9sCfEcSjXc29t1kEKzGK58b60SXd9X1dQARqeQW7dMJeK7mSJhuEeFcKgtQFLZe3qO1mKFj7EA6qelBJsIESs0c7/NgjFXSEMxZMy3L32QuKmHzdELf3BnrgTQvxQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>c3Om31srQalSo4dCI2J3cRhD04MWBXKBR6fFlwmpq4Wne+wWKeNFzMQJpTLScPockJHBJSakQO7l6Dms4UH3Uhh7ejhMcMvv9SbpQXq3ggq/r8C6SG3HN4vyvjIXJLUv0EvmzZbaOG2pXkoRTstBOppESDfMt5jHJBIGwQACAOVekA5zzykctPFsANGgJrtxuOjsgGu2D/C7Z2SMjaQWFlduzk7lvvhSlXJHifjo1TGfVHQxCc0lrU/9ukzrkLWfWHazBnhGLNOMNElFrmEsqBnChJWu1NHSeMnW3dPM5e4vo2sL2ihItzTOa6zHIoGNF2tyedgXYDX+BHx5yBmOKTMgiJmW97Ai</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>