<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>gRKFpZZvWPn9yj9mFi6Ij7WV238fPnjLS6QoA8Lc7rFD6C/KclOf/IrdcAatINcEgQzYzBFMna7BbIeEXDim5ktLWePpcJ1WY3MTJFyViwpXqEOCMOlUHPhsCt9M6YR/bcukkAjNYqMWMuYowaSNY3ijgzcT3xB+ApKzdhDprxoOAxhXjzCLDtlklkD7OWs7n1E06vFsxzlZUR8/leHSFlf42bIwPRho2+zrYh63j2a9mszuWD7+/KmxDRnsCXGJ33sYGlWXhD9LU3avBcN0BX+BlVLR6vtAdKbcoYy9EtN1w5V1C/0PUewE6HhJdKZFSuk8jLj7gqZMjFN2QO5ikw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>X2kbL5N2zNq+PsclRW+PPgEk6a7n4jHV8ScQLLazJqrE02lysMCTFdibEoSzzr5ExjLyvT+cCalb1ul8tRxhS7BlsXoILatndZrLa6I3IxlQj5ueDoJ/Oxl4AfDsATv/92p5CaR1SAyfV9kE0QOQELxYGfJOeMB+nzpdWNOtxEtPaWZSYWaDXU5rRhGrhmPicPmiLU4yk81zJPnhDIlbat4eVouMEDVlCopTbmX2UGTMaIT6NxgStzTHuU6yBVsL9Yz1Khjco4Owwfihb9KHhgF34wD8/RHUTnLsQpOT4g6AeWG0gdtCafbQWMvAlfPjUGX+rh2qJ9Z15eJDmNFPtaEImEuwbfMl</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>