<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGraceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-grace-soap/GraceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraceService"
                contract="GraceServiceReference.IGraceService" name="BasicHttpBinding_IGraceService" />
        </client>
    </system.serviceModel>
</configuration>