<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>nxvr1pKLiaXf8whH9pR4tsYBa3d8xa9CK50X2ij26BBC2VCazogQKZtoRlo1cVqAgdv+tfefEkWq+BUXiyk7UzGrTnd2C6xScBzKFpHNENSC5p3FWD2+Hw+Car+BeKwXfrAL0yWiyUuOhW+GAEUQRZx0sOwz8SZ4hYbKTE/F2FE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>kkY7MkmmyjmDACcD1My2sU81Zi1fsyfJvtmJKWd7IxPUoLHs0fTXlziQurYWczP59LrNxjTe6843n29WIdx37WevWEU4eci11dZjVLvr+sEqMJX6mU4zOoixVfwQE13mJrXVe3dtnh4aQJr+aqwgPD6zS6fVWj9KVwWRW/Mgib8w2VITTqKAJ1+nE2yBBZ/qB/gE0G8WxCopeXQIDegbVFunXPlL+SUSAWFLbGqXcLIuxzhVBspeOZxaVCxveKPzdt3/8NpRO3wAEtQh1ne/f8CjJuShcAU3jHYKRggxCOJzkGBMkMadC4IGTHOvoTvg6MFByT/mc0tfKwfCuXwt2X/4tv0mMC2K</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
</configuration>