<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
    <appSettings configProtectionProvider="wfrsa">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>T5Jd2u5FPs3BY0pOu4Ah0Ksc8vcB892bd+bmgGFa7gWeEo09azhkEknU2xeyk/MAH7VL8GqR9Svnb0uVAP1Ihc9e6LgBOMuBg/NPQ6J4qE49sri4C399iFGVShy/mS3jhLHa6yQaU+0QZs0XH37GdvUghrRV5+zZZ6s0/nQ3rnk=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>HT5/xjmckidG80AqvLfpAd+H+pmHyQQ/QD0qC7oCFnQNoN/pYU42lgiis0MiJrTXuo4uKTBl8aYwujPwJyym85CE0eW3fSLvsdn2NFQaa1QkHmr4zYaoHbred+WXimYCjfFgB7JlBhDfp+CA7lHsaxxBO7mwzzWr+70GO5deFO79t1qsqbbzx9qr54nE7Oa4eHMElf4028RLYtJgd8alaZvVoqYVGkkM59w8daU82znUby/s4iWRi56H78nseqyoqPE7GUbBkGPcyAOlcdpf6uMqI1tzwxq0WeBDGn6FZM5FRGUc8zWgnbF5KvOvYtLOw7EG3pzmK0V1ucBJYe6H9ZlS2wzaiSD2</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
  
</configuration>