<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>fgM+ZgqBXRiGEeIgcyU63gQW7PU7Zm4ynOgGkoj3DdefHuc1PKoYopyxBQ4mTEXA/CYxH5LKm2nOgBYVevlzNLplRLB36mKkVj0fkLP+qJokMuU84bNY+EpGQORFq8BnECqHtM7ytZItF1JIrw0yXi4PrHuGNfm0hzCXjgF+E6Q=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>JEB5pCQR3teJkuuHu9rENpNcPWoVBIEo4YI3U6dUNW+1bAbnpjCXEKCCudf/7kf54IVMt07yohYqotv/de0GatDatywRdmcD5kEg21bTG13Nw4p797AGvrZBo7XDzAHHJ7Y1qxRsJeeGSn4cKHuV0HCDBT/ubjL2gYGuoQfassGTfdher33pzoto4di9fNNBrZyGj3dX5Ybr7j67E/kq/jU3a+Baz23vhCPFsNULaG1zuG99x8ePHCqg9TXShMT6NnccIGWPdvl6TtNjPYnkJtKvZSAq0UIep1R3ynG7pVbMCX5gy+boB+F6jZ+2ADEFc0+WwS+1m+C5pMMpGi3n0SviUwftCR2x</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICharlieService" />
      </basicHttpBinding>
    </bindings>
    <client configProtectionProvider="wfrsa">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>udoidWp3DjGzgyDvp/DOoDw9yQPCa4ihyXulQb2+/oOu8yuom8/NLv6JjI3Z7MG3mYvpcLmSDLn56NnF6QF9xQJB4lLiP2kpmn3pyiE+ODZsKIjMWfkG9wOstR/KFVzxKHxWc58n3/RJFz0s58BfhpJqiwEkwWAtJ8CunBJPy3o=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>XYiLj3WYEj/sWAyUv0N+In6GJxij3MvgyD3pCrgV/bdfraiLmFSs344ONXpuEyPBCdDZffe9NysFYvdoS0TGP47kmmZYIJhEZ+W2IcOOipvi5BjBTboXNYZRoHiCxI7ALm+FfCzmrveATJ9A70o5JyFRr5G9UsodOaE5rByeqQXDTYtlJxFpRlMsc0tJwWkBdT5TwleTo3/7DGnDvk5VyBZ4zMsdm15EquKSSVP4oNrs1BPyLAyJAAYroR0ibnad41Cwhpsx90cM/n2iYiT0gp1aRnpTS3TAN2ReYWLH/gQyRhINwxvoj0Hky4OD3jhFWlTzD2rLcwrv+xjj36+Uok9NtYZ225nf/LotuuWEzU4uQMxLg4zRcGzheTUd6mdet6CANDOlojeuw3mEHzvqA7D76kBBp1w1RaXaH4QWqwA=</CipherValue>
        </CipherData>
      </EncryptedData>
    </client>
  </system.serviceModel>
</configuration>
