<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>HKXOB3/sqV3Hqt0xTYnk6Cbgect7vGQBR9nEU4CTWPyhf3vfduB3n0GZt2Ji+s7eq3L+EOzvy4JUDrkexjQnf5rJyCC75ocojbsjwvEi3Y/mQm8YHFv/+Hsl/Oo5+W9uQ+vIoXsJ6k4iSGuyeTdwtwfEpl8ZFzA65ItMIcsdf6U=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>y2rcMJHyClh17I54pOoDiDL2v+jh3EC3s0ygSkJZNZ7KciV9vdORcKf1A5foYpClHx3uIDktWDokm20wy/V1JkmRjhTm7UlgUP29KR6Wpakc2CcyHA5Gfau8dbOjKwcmvna8PSEJo25OvIR4I+0Dp5eSX3s4drwEQYvxJCVdILUl0qUvCtVrDPPclFzx9JwSZkNgwe2eYQu8ryr9hkdlvf8UK6CNAlSq1+1ihtDB0XbTC8X7YonHgv2WVxaXgjx69clWDee3UGOlTIVpIqphPd7+jeUKYq5XYX4+fVlS+zuv71TUh46BCcYzlvvUekfyoR1FYDfVZSASoi/5MW4g3ELvqVv9Wh9O</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
</configuration>