<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>cgHR/+3cboYvUZk4gajSyG7QRbxs05fkWGjeyMVQG+TPbzfx5UK8EGU37KBafDwa6tFzTQ4FDFv2mPVo3RV431W9CIuoZRJ9ADiJRG8Y1CHoJw2yHj4mmMLOhljFOaSUYhu4meKMLTkAjQJIPSVSvyYj+6pB3yeRF4va9BSUFvc=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>uVcCDyhoWa2EXpgZkv2QDmiOuxYB3rxAPVMj1fhv3ZZ3ZDIBbPegeIUgCjfO1qzloUNfLYT0RbhgT3aj2/LIfGOoBPlyxaZptArN9nm0QkimvAk6mh7CC7Kx5cdvlK547e9AiQwmAR+vhnRvwfMug7qi+YTaJHgmHexrgBxt5BqO1qDkGpP4ouYAs0i98ETlP+NVB4k1zoCwzc4YneGOhK45aNJLDEI6uCRyeSbV4n0fwIBmnuABpq1S40oXr4UPjCeSixxgvbjeJHBBq5j6EN2O5Li0JqjBg8H6yDcWDZ3uM4yO/I7rqUMwscYVJJn1MZNvUcLN5lo8f57yqN/w0MCsOAfTAS0M</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>

</configuration>