<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>LlsQKYyfF9VUENe93dXQNzOMA5jLAmHB2E+4GCfbu5PFWqZ++MDcxK+77WVfcqLXXhYqsFGKnUCqsAKgOXFOqV0SaMwWFhc+fh8PmMgSa32u/c0e45qvxiCrgOWnkNSl8yr2HcTK4/sRH9ox4pk2tct8nnucrr7e3GB4eAo2x1E=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Cfe7vtq2q31BrVSLagDMDi/9lTiwHUY+UDbpqm8k7nBI2oEkq8HuKJ3Hekatc183qfZxAdQqBoFNpYpSZQ/4W5JAoi7eYU4yXRxu0ioC3rtQekn4ehMV/E911SlrLMSlIvvTeLRtnjcB6DAU0z4/BqL/cvqaJvlpygHAgOpFiX9fp5DrWpknzHJPoJGWXNMXZMT7RFoprqCVGtsfERBWF3Aha5Bt/rzB7f65fwFPkYqWWkgPwhGhxWLn1AdenlgH4CS/9CjlFRS9W+x86+AXUJFPzd88CncaSLmVPEMG+Se3dQl7Ujl9kx5wa9UrxhehXGQ+Z44/13RI39B9hjOuVqFC7DKmvKEz</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
</configuration>