<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings />
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <appSettings>
    <add key="GmailUserName" value="revature.projectliberate@gmail.com" />
    <add key="GmailPassword" value="reveroni" />
    <add key="GmailHost" value="smtp.gmail.com" />
    <add key="GmailPort" value="587" />
  </appSettings>

  <system.serviceModel>
    <client configProtectionProvider="wfrsa">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>t3UFKGZZzPsVmK1OLzBAT4u+2WwYs/kKhRRsscarGtE29Pbg/kPC1WEVxjvCNas/iuesdABR2ZPnh8mZkhMSXqeiu7+2TGluFqH8ahisn6UHXg68U5MrLrlnry6gx8MP+eWAGwFayuFB1IQbdQDPFMdsKEAxYV51M6vo1ceCtco=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>SOYdMAYUI6rAfXB7iG4aY2eeJX+kPwZx</CipherValue>
        </CipherData>
      </EncryptedData>
    </client>
  </system.serviceModel>
</configuration>