<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFeliceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-felice-soap/FeliceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeliceService"
                contract="WorkforceServiceReference.IFeliceService" name="BasicHttpBinding_IFeliceService" />
        </client>
    </system.serviceModel>
</configuration>