<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>W1GWvJ5pYR+nC1qpEM0/iGWM0/P8ELHmJcT8cQwMTSf8hJBU/Hly4EaDylREG6tZZ6e9tkYWSOZvIVS9bMtZ4uyjQAjSUVzev7TdhGjjrpvcTsnvXTfMTa+UM4vm6AGkT8XLMGrtPnpKkF81z3e720Mrjv59ChFMvmupZBDD1v/WbZLPyB30k1tXFd2fNG3bQNPT0JBD2xIR4nRNu2A/amCB/8X5nPoX7PM2f+JGJeVDStDsikww8QNQc3FNyz9IfeDH8CTRi85g80OTvTWM343LicdPYHvMSUXJVRJZb/WkWV9fFZoVQ1Fq32l/kOb5Kl1Db4+YGPiARD2ztFO5xw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>jcXf35m9RvMKlOYhEgoZOpUTTyZafKZDcOCbeZZROjLzdDYGx5TDlFjq+dZNYmqXX8b5onKrBBXvdl+I0SH3X2q9RMxItGuMZE2DLJ2BmUgjJGDSlU0h0TBxT0URg2ioPP604sZtb/cQwqW6kBwxmf1HRtBtf98yPrJhSZHGGHImC3MclRjGN7lhepdCa2WrQtiYe4fUsTg8x2rt3aFOpjgjWEnwH6QxWZW5C9qQ5Hi68pDnpWQF+bB9cTXykSq9MVBf+PtinjqeqqHcTepJ8PbrfdruiwZMJ3SemKRj4kMnvD0rej2+YGcIi4sv47Z4cpIM/0dwu0YW4uq8r2hcFT3LUmfQI9dr</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>