<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>YUY8aZ1m4K602bDuevlBsRBRrSAl+QHdBeyLn8f3s2oaHcCylbVeI4jpHIn5w/rvlVKSHRlX2+WwUS8Ai0LXBH5xTPIB8cgaZR28Poe+bJ65ShlVd7iYONGDhNyPpsyEGY+MlbnL9DHettEyFeJoePKuMWDislKaUpbGx5cL6Yo=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>AGi7LaJXdNU+LoHc0FOjmci8UJdXKhfBPp+aNSLYA6GZRiaA+6p4j4cXz8Y4roQXa6lBPwDQ+4CyUGWLrOK5K0ruH0zDqFMECiNZFPv6Ry4tpIw0a8Wqefx8CvjB4QEmxf6L/gkNt2mRUk5xOh3pbhlLWUpmA+jsZzfo8oh59YXechnxysAJASkI6X5YON5oTB+yBgbLfS7A3cXBBjMJnFM5nGuDgm1Bv3OdUXEtqohHyhqcq4ayR0w7pH6Ixq4NFCLs1RUJos+yt0JKJFIqaDkxfnYq/BNTosw3B+mZPFCuYDIozIgY+0ojTxGpYGWAmyUqbYPhSuALFpDYlhDj1s3Zjena4mWD</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>