<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>O/4E5vLwXRWOgjbG5qIWINs7CV8AGYTjqB8FkaI0xFYYvVcmWk4TQtKdH5HQtqp+Mk+TZHqPVj/xTgaUM1faflOPRkqgKteg+ZM/kpdvm+h5q8SDLH1rXhS3Vk+jkwWjJzxNbxWGrkagQaQpYRtODJE1yvXWJCBcSYXWK8aw/Bg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>GJvmED2DkA3TKxPX+6+3xQj1S8+vtwKG1kcAtSymOxfse+R0EEXIO0jeGW0X/S94J50dpaok8Aaa8q85/lLOsJ40n0N8l5VzBJyfGLRWi52psREgcDg+8KO9aX0DJ6Q0t7dd+hFWk5TPBPub7YQDm+MwZcDLO/tmsGMUZvE2/l98fBcGRZsshXGIzzdJuDyewl8MfMVJzYUNzG7T1xXasVgwaqD6fY8ReQO5Hfz123ielwqitY5uSYqQBDrbngvbDQwRK/JgRDrbFzvoQAr75gIIIT7LbEdKLQNR9cw5ihpm+LuYaHkl+55R8xlUFTvJJ9rOL7i/4Z5gmrQNjh7e8v8sYvH0klTX</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>