<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="wfrsa" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="wfkeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <connectionStrings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>UOw8w1MRGAkLRTVhlg3hPV9UtpY9681wPL2qYOOJXTYhGUkzuAIMgP7llwqjsFvPL65Rh1kk819daquCmoArW6bV3pu1e7IAdL7HwNHTBJuDC21X+bPWWdiQwClz8OqMDRdCn8Y7zQ89Xa43NCIwVMj0Nc4yjWKwFnbYV/qP6ks=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>mM4T1ov3XmSNiIwusPgTFe6RF1MJig/cCAqKipjvJ8/wDoZ5XjLAcHmLJ9lyRhfCo7D8Io8QtOjLfY2o5MYMc+tvrfQFnBSXOaTqHbH41SwF0ATyKW1I3+woBMGgWsnNMkxZBs95+Iov5AWNhlEP0k7YF6yuJhwYe4grIYUP6zjzLrCacJ+ReXcPdoYJxjjdohXYvMRZFY6htxGBBKF9Cfhsmp+lio5Q89nu5tQgE4sHbfpqW6gwo5j0hrSvFhu6Az+JcCWOydBlxoHLRx86LuKFwA7iMiYQnTkE6weo3l/ejQfuayT2nrFEshH1a6PYVTFYR1nNg7L9CbzMInJSRmPY8vGxRvzZWR/3UQSvXjk4Wj/7BRJ7KgSefazHtU5L</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <appSettings configProtectionProvider="wfrsa">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>PnZJRiTxcheltK6aw0kMLpnG0S+2i+4AX99F//vg8G1gX0HVn8Z2P6WUcc8Ab+hxQZzDcuajKNK6cKcBXf3UcC4plLQRIHPtvkX6JbAOtKH0lEmuxtnqed60bleHZjDnpfAdUhjuYT1iD5n5Fr5I/6pwYs01ZxJO9OCSHXkdMM4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>zSVsT+vlf20/oWodvNUHaIqhoMOTYmB9M0ysOoK6CNWz6dfv9Zk6RyPPQk9ZeDo9//yeGbQNmy5ztxJM3MJR7SVcVjbhreIHugkLkYegA0Qn/2DGoSiwh6GBd4vgHb21Z1VlM/JI/I7rBY6tjb2H7Wxsu/JeOm4e/fV3AjKE4rE0LBrMwJE8PB3gdICYu/piCFKipNg5Cn71WOd2AqQSClt7ufXIqZApkj5g2jTucr74MXhPOdzpKhQCt2BalQUBxCBHOdTUwejTxJ66aO6/qczRjknpDDoBdpgRlurzOECIUQy08YSmRylmvljiXfBQTiHmvauu+IInzW9IZ9vyUHLN8Ro4TKl4HdCNQMuxNdCtsG7x1E0+UdCYdKWDy2NFj6K4/fMlj85OuABNVltbGDxQpfpy0jDdpIrdgEyfFYDkK2MCN2C0D6wFd7eoOz37OEPlEV2d9bvKRv4oyBdZH7g8OeSiX1xrb1tUEm7qhW8r+0hm51/3Mgo1dbpqYP/4oj5kGl589FnGHtaO1qgVvkJ0irc/1yV9Qynh7o5k7FM+L/U9fudby1/r6zYCItaNE3/uWwTn7uU3qWNkyf16+rpkSzpDFmY95k0mfFey1/fDwsywY8MOPg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>